
@{
    ViewBag.Title = "SessionState";
}

@using(Html.BeginForm())
  {
     <div>
         @Html.TextBox("veri")
     </div>

     <div>
         <button>
             Veri gönder
         </button>
     </div>
  }

